@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container{
    @apply flex flex-col items-center align-middle justify-center
  }
}

:root{
  width: auto;
  margin: 0;
  padding: 0;
}